firstprojectofsecurity/src/main/mule/firstprojectofsecurity.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6b8d8822-b04a-4bb8-8aa8-d1cce39f8195" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<api-gateway:autodiscovery apiId="16303871" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="23360565-a05c-4e1a-bdc6-d89245682c3c" flowRef="firstprojectofsecurityFlow" />
	<flow name="firstprojectofsecurityFlow" doc:id="4f49d69f-25da-4681-87bc-a2cc75e4ffab" >
		<http:listener doc:name="Listener" doc:id="e53d66a6-d451-40c2-b192-dbcf2938d530" config-ref="HTTP_Listener_config" path="/project1"/>
		<set-payload value="#['Payload created2khdsjfgeuhf']" doc:name="Set Payload" doc:id="39b6dc60-a7d5-451b-b29a-4e7498548a43" />
		<logger level="INFO" doc:name="Logger" doc:id="a83ddc21-c9a4-4927-8d23-fc7bcad8f080" message="#[payload]"/>
	</flow>
</mule>
